html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

.grid {
  margin: 0 auto;
  width: 960px;
  padding-left: 30px;
  padding-right: 30px;
}

.col-9-10,.col-1-10, .col-two-thirds, .col-one-third {
	display: inline-block;
	vertical-align: top;
}

.grid {
	padding-left: 15px;
	padding-right: 15px;
}
.col-one-third,
.col-two-thirds,
.col-one-fourth,
.col-three-fourths,
.col-one-tenth,
.col-nine-tenths  {
	display: inline-block;
	vertical-align: top;
	padding-left: 15px;
	padding-right: 15px;
}

.col-one-third {
	width: 33.33%;
}

.col-two-thirds {
	width: 66.66%;
}

.col-one-fourth {
	width:25%;
}

.col-three-fourths {
	width:75%;
}

.col-one-tenth {
	width:10%;
}

.col-nine-tenths {
	width:90%;
}

body {
	font-family: 'Open Sans', sans-serif;
}

header {
	height:12em;
	max-width:60%;
	margin: 0 auto;
	padding:3em;
	text-align: center;

}

header > * {
	margin: 0.5em 1em;
}

a {
	/*border:1px solid grey;
	border-radius:3px;  souncloud style*/
	color:grey;
}

a:hover {
	opacity:0.4;
}

hr {
	margin:1em 0;
	border: 0;
    border-bottom: 1px solid rgba(0, 0, 0, .3);
}

h1 {
	margin: 0 1em;
	font-size:1.4em;
}

h2 {
	font-size:1.2em;
}

footer {
	background-color:#000;
	color:#fff;
}

@import url(http://fonts.googleapis.com/css?family=Open+Sans);